body {
    font-family: Arial, sans-serif;
    background-color: #5b406c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #3f1833;
    color: #FBFBFB;
    border-radius: 50px;
    padding: 35px;
    box-shadow: 0px 0px 2px rgba(198,193, 193, 0.1);
    max-width: 400px;
    width: 100%;
    line-height: 50px;
}

.container:hover {
    box-shadow: 5px 5px 10px rgba(37, 33, 38, 0.445);
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 10px;
}


.form-group label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input{
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #C5BAFF;
    border-radius: 5px;
} 

.result{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    border-radius: 50px;
    background-color: #FBFBFB;
    color: #18122B;
}

.calculate-btn{
    padding: 10px 20px;
    background-color: #C5BAFF;
    color:#18122B;
    border: none;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}

.calculate-btn:hover{
    background-color: #33265f;
    color: #FBFBFB;
}
