
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, #73259b, #3a263d);
  font-family: Arial, sans-serif;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 100px auto;
  background: linear-gradient(to right, #ce82ca, #E8F9FF);
  color: #2A2F4F;
  padding: 40px 5px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.5);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #2A2F4F;
}

.row {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
}

.row:hover {
  transform: scale(1.05);
}


img {
  margin-right: 10px;
}

input[type="number"] {
  padding: 10px;
  font-size: 15px;
  width: 250px;
  border-radius: 4px;
  border: 1px solid #545b88;
  flex: 1;
  transition: border-color 0.3s ease;
  background-color: #FBFBFB;
  color: #343746;
  font-weight: 600;
}

input[type="number"]:focus {
  border-color: #2A2F4F;
  outline: none;
  box-shadow: 0 0 0 2px #2A2F4F;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-moz-inner-spin-button,
input[type="number"]::-moz-outer-spin-button {
  -moz-appearance: none;
  margin: 0;
}

input[type="number"]::-ms-clear {
  display: none;
}

input[type="number"]::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.cash-text {
  font-weight: bold;
  margin-left: 10px;
  width: 40px;
  display: inline-block;
  text-align: center;
  color: 2A2F4F;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #18122B;
  color: #FBFBFB;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-end;
}

button:hover {
  background-color: #9864a7;
}

#txtFinalCash {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: #2A2F4F;
}

#txtFinalCashInWords {
  margin-top: 10px;
  font-style: italic;
  color: #2A2F4F;
}

.result-part {
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

